{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load i18n %}

{% block content %}
<div class="row mb-3">
  <div class="col col-12 col-md-6">
    <div class="card">
      <h2 class="card-header">{% trans "Placement" %}</h2>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">{% trans "Design" %}</th>
          <td>{{ object.design|linkify }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Kind" %}</th>
          <td>{{ object.get_kind_display }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Device" %}</th>
          <td>{{ object.device|linkify|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Device type" %}</th>
          <td>{{ object.device_type|linkify|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Proposed name" %}</th>
          <td>{{ object.proposed_name|placeholder }}</td>
        </tr>
      </table>
    </div>
    {% include 'inc/panels/custom_fields.html' %}
    {% plugin_left_page object %}
  </div>
  <div class="col col-12 col-md-6">
    <div class="card">
      <h2 class="card-header">{% trans "Target placement" %}</h2>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">{% trans "Target rack" %}</th>
          <td>{{ object.target_rack|linkify|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Target position" %}</th>
          <td>{{ object.target_position|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Target face" %}</th>
          <td>{{ object.target_face|placeholder }}</td>
        </tr>
      </table>
    </div>
    {% include 'inc/panels/tags.html' %}
    {% plugin_right_page object %}
  </div>
</div>
{% endblock content %}
